{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react",
    "@typescript-eslint/eslint-plugin"
  ],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "prettier/react",
    "plugin:redux-saga/recommended",
    "plugin:@typescript-eslint/recommended",  // 타입스크립트 추천 룰셋
    "prettier/@typescript-eslint",  // prettier 규칙과 충돌하는 @typescript-eslint/eslint-plugin 규칙 비활성화
    "plugin:prettier/recommended" // eslint의 포매팅 기능을 prettier로 사용함. 항상 마지막에 세팅 되어야 함.            
  ]
}